.m-collage-tabs .m-tabs__header-group {
  box-shadow: none;
}
.m-collage-tabs .m-tabs__nav {
  color: rgba(var(--color-foreground));
}
@media (min-width: 768px) {
  .m-collage-tabs .m-tabs__nav {
    padding: 0.4rem 0;
  }
}

.m-collage-tab--image {
  width: 100%;
}
.m-collage-tab--image .m-image {
  min-height: 100%;
}
@media (min-width: 768px) {
  .m-collage-tab--image {
    width: var(--tab-image-width, 50%);
  }
}
.m-collage-tab--content {
  max-width: 100%;
  padding: 4.8rem 1.5rem;
  word-wrap: break-word;
}
@media (min-width: 768px) {
  .m-collage-tab--content {
    padding: 4.8rem var(--md-tab-content-px, 4.8rem);
    max-width: calc(100% - var(--tab-image-width, 50%));
  }
}
@media (min-width: 1280px) {
  .m-collage-tab--content {
    padding: 4.8rem var(--tab-content-px, 10rem);
  }
}
