{% comment %}
  @param paginate {object} Shopify paginate object
  @param items {collection.products or similar}
  @param item_template {snippet} Snippet name for item rendering
  @param auto_load {boolean} Enable IntersectionObserver auto-loading
{% endcomment %}

<so-infinite-list class="so-infinite-list" {% if auto_load %}auto{% endif %}>
  <div class="so-product-grid so-grid" data-infinite-items>
    {% for item in items %}
      <div class="so-card" data-infinite-item>
        {% render item_template, product: item %}
      </div>
    {% endfor %}
  </div>

  {% if paginate.next %}
    <a class="so-button" href="{{ paginate.next.url }}" data-infinite-next>{{ 'general.load_more' | t }}</a>
  {% endif %}
</so-infinite-list>
